.sn-feature-badge {
	margin-top: -40px;
	@media #{$xxs} {
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.item-line {
		@media #{$xxs} {
			display: none;
		}
	}
	.item-icon {
		z-index: 2;
		width: 48px;
		height: 48px;
		margin: 0 auto;
		margin-top: -22px;
		position: relative;
		border-radius: 100%;
		border: 4px solid #fff;
		background-color: #fff;
		box-shadow: 0px 0px 20px 0px #00000029;
		@media #{$xxs} {
			margin-top: 0;
		}
		i {
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			box-shadow: 0px 0px 3px 0px #00000040 inset;
		}
	}
}
.sn-feature-content {
	gap: 20px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.sn-feature-area {
	max-width: 985px;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
}
.sn-feature-top-wrap {
	gap: 20px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.sn-feature-bottom-wrap {
	gap: 20px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.sn-ft-item-text {
	h3 {
		font-size: 26px;
		font-weight: 600;
		padding-bottom: 12px;
	}
	p {
		color: #535862;
		font-size: 18px;
	}
}
.sn-feature-item1 {
	z-index: 1;
	max-width: 482px;
	padding: 40px 32px;
	border-radius: 16px;
	background-color: #FFFFFFCC;
	border: 1px solid #00000014;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.sn-ft-shape1 {
		left: 0;
		right: 0;
		top: -55%;
		z-index: -1;
	}
	.sn-ft-shape2 {
		right: -30%;
		bottom: -40%;
		z-index: -1;
		opacity: .8;
	}
	.item-icon-wrap {
		width: 177px;
		@media #{$xxs} {
			justify-content: center !important;
		}
	}
	.icon-wrap1 {
		@media #{$xxs} {
			display: none;
		}
	}
	.icon-logos {
		.sn_icon {
			width: 60px;
			height: 60px;
			margin-bottom: 10px;
			border-radius: 100%;
			box-shadow: 0px 4px 13px 0px #00000014;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.item-ficon {
		top: 50%;
		left: 0;
		right: 0;
		width: 92px;
		height: 92px;
		margin: 0 auto;
		border-radius: 100%;
		border: 1px solid rgba(158, 216, 254, .64);
		transform: translateY(-50%);
		@media #{$xxs} {
			display: none !important;
		}
		i {
			width: 80px;
			height: 80px;
			display: flex;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
			background: linear-gradient(94.57deg, #34C9FF 0%, #8BA3FF 33.06%, #FD76E8 66.11%, #FF9951 100%);
		}
	}
}

.sn-feature-item2 {
	z-index: 1;
	padding: 40px 32px;
	border-radius: 16px;
	border: 1px solid #00000014;
	background-color: #FFFFFFCC;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.sn-ft-shape1{
		top: -80%;
		left: -25%;
		opacity: .8;
	}
	.sn-ft-shape2 {
		right: -70%;
		z-index: -1;
		bottom: -90%;
		opacity: .8;
	}
}

.sn-feature-item3 {
	width: 100%;
	padding: 32px;
	max-width: 315px;
	border-radius: 12px;
	background-color: #fff;
	border: 1px solid #00000014;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.item-icon {
		z-index: 1;
		width: 64px;
		height: 64px;
		margin-bottom: 35px;
		position: relative;
		border-radius: 100%;
		&:before,
		&:after {
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			content: '';
			border-radius: 100%;
			position: absolute;
			background: linear-gradient(94.57deg, #34C9FF 0%, #8BA3FF 33.06%, #FD76E8 66.11%, #FF9951 100%);
		}
		&:after {
			background: linear-gradient(180deg, #F4F4F4 0%, #FFFFFF 100%);
		}
		&:before {
			top: 4px;
		}
	}
	.item-text {
		h3 {
			font-size: 22px;
			font-weight: 600;
			padding-bottom: 18px;
		}
		p {
			font-size: 18px;
			letter-spacing: -1px;
		}
	}
	&:is(.ver_2) {
		background-color: #605BFF;
		.item-icon {
			margin-bottom: 60px;
			&:after {
				background: linear-gradient(180deg, #4F4AF8 0%, #605BFF 100%);
			}
		}
		.item-text {
			h3 {
				color: #fff;
			}
			p {
				color: #fff;
				opacity: .72;
			}
		}
	}
}
.sn-feature-area2 {
	width: 100%;
	max-width: 315px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		gap: 20px;
		display: flex;
		max-width: 100%;
		justify-content: center;
	}
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}

.sn-feature-item4 {
	margin-top: 22px;
	border-radius: 12px;
	padding: 35px 32px 0px;
	background-color: #FFFFFF;
	border: 1px solid #00000014;
	padding-bottom: 325px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-top: 0;
	}
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
		width: 100%;
	}
	.sn-shape1,
	.sn-shape2 {
		right: -51%;
		bottom: -21%;
		width: 440px;
		height: 340px;
		position: absolute;
		border-radius: 10px;
		background: #0000000A;
		transform: rotate(16.73deg);
	}
	.sn-shape2 {
		right: -47%;
		bottom: -17%;
	}
	.item-text {
		h3 {
			font-size: 22px;
			font-weight: 600;
			padding-bottom: 18px;
		}
		p {
			color: #535862;
			font-size: 18px;
			max-width: 235px;
			letter-spacing: -1px;
		}
	}
	.item-img {
		right: -56%;
		bottom: -25%;
		overflow: hidden;
		border-radius: 10px;
		transform: rotate(16.73deg);
		box-shadow: -6px -6px 13px 0px #0000001F;
	}
}